@media (max-width: 768px) {
    body {
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caixa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 90%;
        max-width: 350px;
    }

    #imagem {
        max-width: 80%;
        height: auto;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #imagem {
        max-width: 100%;
    }

    form {
        width: 100%;
        max-width: 320px;
    }
}
