
@media (max-width: 600px) {
     
    }

    form {
        width: 90%;
        margin: 0 auto; 
    }

    button {
        width: 80%;
        margin: 10px auto;
    }



@media (max-width: 400px) {
    
    }
